*,html,body{
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Universal Css */
.tombol{
    color: white;
    background-color: #5CB85F;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 700;
}

/* Navbar */

.navbar{
    padding: 0;
    padding: 24px 16px;
    font-size: 14px;
}

.navbar .navbar-nav a{
    color: #000000;
}

.navbar .navbar-nav a:hover{
    color: #cccccc;
}
.nav-color{
    background-color: #F1F3FF;
    transition: all ease-in-out 0.3s;
}

.navbar-brand{
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
}

.navbar-nav .nav-link{
    margin-right: 32px;
}

.fi-menu{
    background-image: url("assets/img/fi_menu.png");
    /*height: 100%;*/
    padding: 10px 10px;
    border: none;
    background-color: transparent;
}

.offcanvas-header{
    margin-top: 23px;
}

.offcanvas-title{
    font-size: 14px;
    font-weight: 700;
}

.offcanvas-body{
    padding-top: 0;
}

.offcanvas-body a{
    font-size: 14px;
    color: #000;
    padding: 0;
    padding-bottom: 16px;
    margin: 0;
}

/*Mengatur width offCanvas*/
.offcanvas-end {
    width: 50%;
}


/* Hero section */

.hero-section{
    padding: 90px 16px 0px 16px;
    /*margin-top: -64px;*/
    width: auto;
    /*height: 657px;*/
    background-color: #F1F3FF;
}


.item-hero{
    padding-right: 0px;
}

.item-hero h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.hero-section img{
    margin-top: 24px;
}


/* Our Section */
.ourServices{
    padding: 60px 30px 0px 30px;
}

.text-our-content li{
    margin: 0 0px 20px -34px;
    list-style: none;
    font-size: 14px;
}

.ourServices .img-service{
    padding: 0px 24px 24px;
}

.text-our-content li>img{
    height: 24px;
    padding-right: 16px;
}

.text-our-content h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 36px;
}

.text-our-content p{
    font-size: 14px;
    font-weight: 300;
}


/* Why us section */
.why-us-section{
    padding: 40px 16px 0px 16px;
}

.card-list{
    padding: 0;
}

.why-us-content h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.why-us-content p{
    font-size: 14px;
    margin-bottom: 24px;
}

.card{
    height: 196px;
    padding: 24px;
    margin: 6px 16px;
}

.card-body{
    /* Reset padding and margin  */
    margin: 0;
    padding: 0;
}

.card-body img{
    height: 32px;
    margin-bottom: 16px;
}

.card-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.card-text{
    font-size: 14px;
    
}

/* Testimonial section */
.testimonial-section{
    padding: 20px;
    padding-top: 54px;
}
.testimonial-section h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
}

.testimonial-section .testimonial-p{
    font-size: 14;
    margin-bottom: 40px;
    text-align: center;
}

.item .star{
    width: 16px !important;
    height: 16px;
    margin-bottom: 24px;
}

.item{
    padding: 40px 32px 69px 32px;
    height: 372px;
    background-color: #F1F3FF;
    border-radius: 8px;
    padding-left: 46px;
}

.item .img-testimonial{
    height: 80px;
    width: 80px !important;
    margin-bottom: 24px;
}

.item h1{
    font-size: 14px;
    text-align: start;
}

.item p{
    font-size: 14px;
    text-align: start;
}

/* Menambahkan tombol menggunakan background image */
.owl-prev{
    background-image: url("assets/img/leftButton.svg") !important;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: block;
    height: 32px;
    width: 32px;
}

.owl-next{
    background-color: none;
    background-image: url("assets/img/leftButton.svg") !important;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    transform: scaleX(-1);
}

/* Mematikan Color yang menggangu ketika di hover */
.owl-nav button:hover{
    background-color: transparent !important;
}

/* menambahkan efek focus */
.owl-nav .owl-prev:focus{
    background-image: url("assets/img/rightButton.svg") !important;
    transform: scaleX(-1);
}

.owl-nav .owl-next:focus{
    background-image: url("assets/img/rightButton.svg") !important;
    transform: scaleX(1);
}

/* Menghapus Arrow Bawaan */
.owl-prev span, .owl-next span{
    display: none;
}


/* Getting Started Section */
.started-section{
    padding: 40px 16px 0px 16px;
    color: white;
}

.started-content{
    width: 100%;
    height: 400px;
    border-radius: 13px;
    background-color: #0D28A6;
    padding: 64px 58px 72px 58px;
}

.started-content h1{
    font-size: 24px;
}

.started-content p{
    max-width: 468px;
    font-size: 14px;
    text-align: center;
}


/* FAQ Section  */
.faq-section{
    padding: 60px 16px 0 16px;
}

.faq-section h1{
    font-weight: 700 !important;
    font-size: 24px;
}

.accordion-item{
    margin-bottom: 16px;
    border-radius: 4px;
    border: 0.5px solid #D4D4D4;
}

.accordion-button{
    border-radius: 4px;
    border: 0.5px solid #D4D4D4;
}

.accordion-content h1{
    font-size: 24px;
    font-weight: 700;
}

.accordion-content p{
    font-size: 14px;
    font-weight: 700;
}

/* footer */

footer{
    padding: 60px 16px;
    font-size: 14px;
}

.menu a:hover{
    color: #cccccc;
}

.menu a{
    font-weight: 400;
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 0 0 16px 0;
}

.logo{
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
}

.address p{
    margin: 0 0 16px 0;
}

.social-media p, .social-media img{
    margin: 0 0 16px 0;
}


/* Destop Version */

@media screen and (min-width:994px) {

    /*Navbar*/
    .navbar{
        padding: 20px 136px 20px 136px;
    }

    /*Hero Section*/
    .item-hero{
        width: 50%;
    }
    .item-hero h1{
        padding-top: 65px;
    }

    .hero-section{
        padding-top: 97px;
        padding-left: 136px;
        height: 500px;
    }


    .hero-section img{
        margin-top: 24px;
        margin-left: 15px;
    }

    .hero-text p{
        max-width: 500px;
    }

    /*Our Services*/
    .ourServices{
    padding: 135px 206px 0px 207px;
    }

    .text-our-content{
        min-width: 468px;
    }

    .text-our-content h1{
        margin-bottom: 24px;
    }

    .ourServices .img-service{
        padding: 0px;
    }
    
    /*Why Us Section*/
    .why-us-section{
        padding:100px 136px 0 136px;
    }

    .card{
        margin: 0px;
    }


    /*Testimonial Section*/
    .item .img-testimonial{
        margin-right: 46px;
        margin-bottom: 0px;
    }

    .testimonial-section{
        padding: 0px;
        padding-top: 100px;
    }

    .item{
        height: 270px;
        padding: 69px 46px 69px 46px;
    }

    .item .star{
        margin-bottom: 8px;
    }

    /*Getting Started*/
    .started-section{
        padding: 100px 136px 0 136px;
    }

    .started-content{
        width: 100%;
        height: 326px;
        padding: 64px 325px;
    }

    .started-content h1{
        font-size: 36px;
    }

    /*FAQ Section*/
    .faq-section{
        padding: 100px 136px 0 136px;
    }

    /*Footer*/
    footer{
        padding: 150px 136px 100px 136px;
    }


}